<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Timer</title>
</head>
<body onload="loadTimeList()">

    <h2><time>00:00:00</time></h2>
    <button id="start">START TIMER</button>
    <button id="stop">END TIMER</button>
    <!--<button id="clear">RESET TIMER</button>-->
    <label for="time"> ELAPSED TIME</label>
    <input type="text" name="time" id="time">
    <label for="times">ELAPSED TIME LIST</label>
    <select name="times" size="6" id="times"></select> 
    
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>